<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-export" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Exportar
  </button> 
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="<%= url.call('pdf') %>">PDF</a></li>
    <li><a class="dropdown-item" href="<%= url.call('csv') %>">CSV</a></li>
  </ul>
</div>